.animate-cards-enter {
  // opacity: 0;
}

.animate-cards-enter-active {
  animation: slide-in 0.5s ease-out forwards;
  transition: opacity 0.75s;
}
.animate-cards-leave {
  // opacity: 1;
}

.animate-cards-leave-active {
  animation: slide-out 0.5s ease-out forwards;
  transition: opacity 0.75s;
  // opacity: 0;
  position: absolute;
}

.animate-cards-move {
  transition: transform 0.5s;
}

@keyframes slide-in {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}