// include partials
@import "../styles/form";

#login,
#logout,
#register,
#register-confirm {
  h4 {
    text-decoration: underline;
  }

  form {
    margin: auto;
    margin-bottom: 10px;
    max-width: 280px;

    .form-group {
      width: 100%;

      & div > span > .noticeMsg {
        transform: unset;
        top: unset;
      }

      input[type="number"] {

        /* Chrome, Safari, Edge, Opera */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
        }
      }

      input[type="button"],
      button[type="submit"] {
        @include general;
        padding: 0;
        width: 100%;

        &[class*="-small"] {
          font-size: $font-normal;
          max-height: 50px;

          @include for-size(tablet-portrait-up) {
            @include small;
          }
        }
      }
    }

    &>* {
      display: block;
      margin: auto;
      width: max-content;
    }
  }
}

a,
a:visited,
.router-link-active a,
.router-link-active a:visited {
  color: $unknown;
  cursor: pointer;
  font-size: smaller;
  text-decoration: underline;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: shade($unknown, $shade10);
    font-weight: 500;
  }
}