body {
  overflow: hidden;
}


// psudo selectors
::selection {
  background: $neutral;
  /* WebKit/Blink Browsers */
  color: tint($color2, $tint100);
}

::-moz-selection {
  background: $neutral;
  /* Gecko Browsers */
  color: tint($color2, $tint100);
}


// 
.green-item {
  color: $valid;
}

.red-item {
  color: $invalid;
}

.unknown-item {
  color: $unknown;
}

.green-bg {
  background-color: $valid;
}

.red-bg {
  background-color: $invalid;
}

.unknown-bg {
  background-color: $unknown;
}

#msgStrong {
  background-color: rgba(shade($color2, $shade100), 0.3);
  border: 1px solid rgba(tint($color2, $tint100), 0.7);
  border-radius: $borderRadius;
  padding: 1px 7px 0px 5px;
}