#formPost,
#formGetString {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
  grid-gap: 1rem;

  .form-group {
    margin-top: 1rem;

    .input-with-label {
      border-bottom: 1px solid $neutral;
      color: black;
      display: flex;
      font-size: $font-size-xl;
      letter-spacing: 0.12rem;
      padding: 3px;
      position: relative;
      text-transform: uppercase;

      &.text-area {
        
        label.hasValue {
          top: 0;
          height: min-content;
        }
        &:focus-within {
          top: 0.5rem;
        }
      }

      &:focus-within label:not(input) {
        font-size: 0.5rem;
        transform: translateY(-100%);
        transition: transform 300ms ease-out, font-size 500ms ease-out 300ms;
      }

      label {
        bottom: 0;
        color: lighten($color: black, $amount: 55%);
        left: 0;
        line-height: 2rem;
        padding-left: 5px;
        position: absolute;
        top: auto;
        transition: font-size 500ms ease-out 300ms, transform 300ms ease-out;

        &.hasValue {
          font-size: 0.5rem;
          transform: translateY(-100%);
        }

        &.hasValue ~ input {
          top: 50%;
        }

        &.hasValue ~ textarea {
          top: -0.5rem;
          // margin-top: 0.5rem;
        }
      }

      input,
      textarea {
        background-color: transparent;
        border: none;
        bottom: 0;
        font-size: inherit;
        left: 0;
        outline: none;
        padding-left: 5px;
        top: 0;
        width: 100%;
        z-index: 1;
      }

      textarea {
        opacity: 0;
        position: relative;
        white-space: pre-line;

        &::placeholder {
          color: lightgrey;
          font-size: medium;
          font-style: initial;
          font-variant-caps: all-petite-caps;
          position: relative;
        }
        
        &:focus {
          font-style: italic;
          opacity: 1;
          resize: none;
          top: 0.5rem;
        }
      }

      &:focus-within::after,
      &.invalid::after,
      &.valid::after {
        animation: fadeIn 1300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        content: $strDefPattern;
        bottom: 0;
        color: $neutral;
        font-size: 0.7rem;
        font-variant: unicase;
        line-height: 2rem;
        padding-right: 5px;
        position: absolute;
        right: 0;
        top: auto;
        text-transform: lowercase;
        transform: translateY(-100%);
      }

      &.invalid:focus-within {
        border-bottom: 1px solid $warning;
      }

      &.valid:focus-within {
        border-bottom: 1px solid $valid;
      }

      // &.invalid {
      //   border-bottom: 1px solid $invalid;
      // }

      // &.valid {
      //   border-bottom: 1px solid $valid;
      // }

      &.invalid::after {
        @extend :focus-within::after;
        color: $invalid;
      }

      &.valid::after {
        @extend :focus-within::after;
        animation: fadeOut 1500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
      }

      &.timestamp.invalid::after {
        @extend :focus-within::after;
        color: $invalid;
        content: $timestampDefPattern;
      }

      &.timestamp.valid::after {
        opacity: 0;
        content: $timestampDefPattern;
      }

      &.text-area.invalid::after {
        @extend :focus-within::after;
        color: grey;
        content: $textDefPattern;
        letter-spacing: 0;
        top: 0.7rem;
      }

      &.text-area.valid::after {
        animation: fadeOutSpecial 1500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
        top: 0.5rem;
      }

      // hide/show additional UI message to user
      &.text-area.valid > textarea,
      &.text-area.invalid > textarea {
        opacity: 1;

        &.empty:not(:focus) {
          opacity: 0;
        }
      }
    }

    .radio-group {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(auto, 25%));
      justify-content: space-around;
      justify-items: left;
      padding-left: 5px;

      .radio {
        width: min-content;

        @include for-size(desktop-up) {
          width: max-content;

          input[type="radio"] {
            margin-left: $spacingLarge;
          }
        }
      }
    }
  }
}

p.form-field-msg,
p.group-field-msg {
  animation: fadeIn 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: $invalid;
  font-size: 0.85rem;
  font-style: italic;
  margin: 1rem auto 0;

  &.hidden {
    animation: fadeOut 1500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    // display: none;
    @extend .form-field-msg;
  }
}

// Animations
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOutSpecial {
  0% {
    opacity: 1;
    height: inherit;
  }
  100% {
    opacity: 0;
    height: 0;
    margin: 0;
  }
}