/* breakpoint mixin. sets the default breakpoints for the app

+++++++ USAGE

    @include for-size(desktop-up) {
      property: value;
    }
  ------- USAGE

*/
@mixin for-size($range) {
  $smallest-to-usable: calc(#{$minViewport} + 80px);
  $phone-upper-boundary: 600px;
  $tablet-portrait-upper-boundary: 900px;
  $tablet-landscape-upper-boundary: 1200px;
  $desktop-upper-boundary: 1800px;

  @if $range == phone-small {
    @media (max-width: $smallest-to-usable) {
      @content;
    }
  } @else if $range == phone-up {
    @media (max-width: #{$phone-upper-boundary - 1}) {
      @content;
    }
  } @else if $range == tablet-portrait-up {
    @media (min-width: $phone-upper-boundary) {
      @content;
    }
  } @else if $range == tablet-landscape-up {
    @media (min-width: $tablet-portrait-upper-boundary) {
      @content;
    }
  } @else if $range == desktop-up {
    @media (min-width: $tablet-landscape-upper-boundary) {
      @content;
    }
  } @else if $range == big-desktop-up {
    @media (min-width: $desktop-upper-boundary) {
      @content;
    }
  }
}

/* creates a TINT or SHADE from HSL color space

+++++++ USAGE
  color: tint(#BADA55, 42%);
  OR
  background-color: shade(#663399, 42%);
------- USAGE

*/
/// Slightly lighten a color
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}
