@import "mixins";
@import "functions";
/*
additional imports MIGHT be at the bottom of this file,
if they require variables from this file!
*/


// padding and margin (spacing)
$spacingDefault: 1rem;
$spacingLarge: 2.5rem;


// Grid measurements
$col-gap: 0.25rem;


// colors, shades & tints
$neutral: blue;
$valid: hsl(153, 47%, 49%);;
$warning: hsl(22, 97%, 73%);
$invalid: hsl(0, 100%, 66%);
$unknown: hsl(33.7, 7.6%, 58.8%);

$color1: hsl(153, 47%, 49%);
$color2: hsl(0, 0%, 20%);

$shade10: 10%;
$shade25: 25%;
$shade50: 50%;
$shade75: 75%;
$shade90: 90%;
$shade100: 100%;
$tint10: 10%;
$tint15: 15%;
$tint25: 25%;
$tint50: 50%;
$tint75: 75%;
$tint90: 90%;
$tint100: 100%;


// oddments
$borderRadius: 5px;
$status-size: 5px;


// fonts and text
$primary-font-family: "Avenir", Helvetica, Arial, sans-serif;
$font-normal: 1rem;
$font-size-xl: 1.2rem;
$letter-spacing: calc(#{$font-normal} /8);
$matched-linespacing: calc(#{$font-normal} *1.6 );
$heavy: 500;


// base-set text/content
$strDefPattern: "a-z 0-9 .";
$timestampDefPattern: "0-9";
$textDefPattern: "you can use all characters";


// breakpoint definitions
$minViewport: 320px;


// post variable imports
@import "base";
@import "buttons";
