
@import "mixins";
@import "functions";

$spacingDefault: 1rem;
$spacingLarge: 2.5rem;

$primary-font-family: "Avenir", Helvetica, Arial, sans-serif;

$color1: hsl(153, 47%, 49%);
$color2: hsl(0, 0%, 20%);
$shade10: 10%;
$shade25: 25%;
$shade50: 50%;
$shade75: 75%;
$shade90: 90%;
$shade100: 100%;
$tint10: 10%;
$tint15: 15%;
$tint25: 25%;
$tint50: 50%;
$tint75: 75%;
$tint90: 90%;
$tint100: 100%;


$neutral: blue;
$valid: hsl(153, 47%, 49%);;
$warning: hsl(22, 97%, 73%);
$invalid: hsl(0, 100%, 66%);

$borderRadius: 5px;

$font-normal: 1rem;
$font-size-xl: 1.2rem;
$letter-spacing: calc(#{$font-normal} /8);
$strDefPattern: "a-z 0-9 .";
$timestampDefPattern: "0-9";
$textDefPattern: "you can use all characters";

$minViewport: 320px;

body {
  overflow-y: hidden;
}